// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Errors
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}