.checked {
	color: orange;
}

.review-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.reviewer {
	font-weight: bold;
}

.delete-btn {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.review-body {
	padding-top: 1em;
}

.review-submit-btn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 1em;
}